@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&display=swap');

:global(body),
:global(button) {
  font-family: 'Montserrat', sans-serif;
}

:root {
  --blue: #111e6c;
  --red: #ef434e;
  --darkGray: #323232;
  --lightGray: #969696;
  --lightBlue: #e5e7ef;
  --background: #F5F5F8;
  --headerEnd: #80395C;
}

.app {
  background: var(--background);
}

.maxContent {
  max-width: 1280px;
  padding-left: 40px;
  padding-right: 40px;
  margin: 0 auto;
}

@media screen and (max-width: 768px) {
  :root {
    font-size: 15.5px;
    ;
  }

  .maxContent {
    padding-left: 20px;
    padding-right: 20px;
  }
}